.orders-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    width: 95%;
    height: 93%;
    border-radius: 1rem;
    display: grid;
    place-items: center;
}

.orders-container {
    width: 95%;
    height: 90%;
    background: #fff;
    border-radius: 1.5rem;
}