.order-wrapper {
    display: grid;
    place-items: center;
    height: 70vh;
}

.order_form {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 2rem;
}

.input_fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: inherit;
    padding: 2rem;
    border-right: 1px solid #000;
}

.name_fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

.phone_city_fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

.products_item {
    flex-grow: 2;
    list-style: none;
}

.products_item::-webkit-scrollbar {
    display: none;
}

.products_image img {
    padding-right: 20px;
    max-width: 100px;
    text-align: center;
    float: left;
    width: 100%;
}

.final_btn {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: 0;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    transition: .3s;
}

.final_btn:hover {
    opacity: 0.7;
}

.products_order_information {
    display: flex;
    flex-direction: column;
}

.products {
    width: 50vh;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    flex-grow: 2;
}

.products::-webkit-scrollbar {
    display: none;
}

.total_price_order {
    width: 100%;
    height: 30px;
}

.total_order {
    font-weight: 600;
    float: right;
}