.order_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.input_fields {
    display: flex;
    flex-direction: column;
    width: 30vh;
}

.name_fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products_item {
    flex-grow: 2;
    list-style: none;
}

.products_item::-webkit-scrollbar {
    display: none;
}

.products_image img {
    padding-right: 20px;
    max-width: 100px;
    text-align: center;
    float: left;
    width: 100%;
}