.admin-wrapper {
    height: 79vh;
    display: flex;
    flex-direction: row;
}

.admin-menu {
    height: 100%;
    width: 15%;
    display: grid;
    place-items: center;
}

.side-menu-items {
    height: 100%;
    width: 100%;
}

.admin-menu-items {
    margin-top: 30%;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.admin-menu-item {
    display: flex;
    flex-direction: row;
    transition: 0.3 ease-in-out;
    color: #4e4b4a;
    gap: 5px;
}

.admin-menu-item-icon {
    font-size: 25px;
    margin-left: 10%;
    width: 30%;
}

.admin-menu-item > p {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.admin-menu-item:hover {
    color: #000;
    scale: 1.1;
    cursor: pointer;
}

.admin-menu-item:hover > p {
    font-weight: 500;
}

.admin-component {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
}

.admin-component-title {
    height: 10%;
    width: 100%;
}

.admin-title {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    margin-bottom: 0;
}